/data/
/.idea/
/Search-Java/.idea/
/Search-Java/target/
/Search-Java/data/
Search-Java/data/out/complete/docIDsBlock
Search-Java/data/out/complete/docIDsBlock
Search-Java/data/out/complete/frequenciesBlock
Search-Java/src/main/java/it/unipi/aide/GabTest.java
