/data/
/.idea/
/Search-Java/.idea/
/Search-Java/target/
/Search-Java/data/
Search-Java/data/out/complete/docIDsBlock
Search-Java/data/out/complete/docIDsBlock
Search-Java/data/out/complete/frequenciesBlock
